.text {
  margin-right: 20px;
}

.header {
  display:flex;
  justify-content: space-around;
  padding: 20px 10px 20px 10px;
  
  background-color: #51438F;
}

.header-font {
  color: white;
}

/* form {
  width: 600px;
  margin: 100px auto; 
} */
.search-bar {
  width: 400px;
  height: 40px;
  font-size: 16px;
  padding: 0px 20px 0px 40px;
 
  outline: none;

/* background: url('Search.png') 7px center no-repeat; */
}

.App {
 max-width: 1980px;
 margin: 0 auto;
 /* text-align: center;
 margin: 0 auto; */
}

.a {
  color: red;
}

.b {
  color: blue;
}

.left-col {

 border-right: 1px solid #EDECEE;
 height: 100vh;
 background-color: #6F5CC3;

}

.crm-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}

.crm-body {
  background-color: #F9F9FA;
}



.btn-color {
  background-color: #6F5CC4 !important;
}
.icon {
  color:#6F5CC4 ;
}

.page-number {
  color:#6F5CC4 ;
  padding: 0 20px;
} 

.modal-btn {
  margin-top: 20px;
}

h4 {
  padding-top: 50px;
}